
$gold: #C99E71;

%inter-400{
  font-family: 'Inter-Regular';
  font-weight: 400;
}
%inter-700{
  font-family: 'Inter-Bold';
  font-weight: 700;
}
%right-400{
  font-family: 'Righteous-Regular';
  font-weight: 400;
}
%urban-500{
  font-family: 'Urbanist-Medium';
  font-weight: 500;
}
%urban-600{
  font-family: 'Urbanist-SemiBold';
  font-weight: 600;
}